.bubble {
	border: 2px solid black;
	border-radius: 20px;
	margin: 10px;
	padding: 10px;
	background: rgba(255, 255, 255, 0.5);
}

.inline {
	display: inline-block;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.margin {
	margin: 20px;
}

.main {
	max-width: 1000px;
	margin: 50px auto;
	font-family: Verdana;
	font-size: 125%;
}

body::after {
	content: "";
	background-image: url("/background.jpg");
	opacity: 0.5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: fixed;
	z-index: -1;
}

label > * {
	vertical-align: middle;
}

input[type="checkbox"] {
	transform: scale(1.25);
	margin: 5px;
}

.vertical_space {
	margin: 20px 0px;
}

.text_align {
	text-align: center;
}
